@font-face {
    font-family: 'Koverwatch';
    src: url('/font/koverwatch.ttf');
}

body {
    padding: 50px;
    /*font: 14px "Koverwatch", Helvetica, Arial, sans-serif;*/
    font-family: Koverwatch;
    font-size: 24px;
}

a {
    color: #00B7FF;
}