@font-face {
    font-family: 'Koverwatch';
    src: url('/font/koverwatch.ttf');
}

body {
    padding: 50px;
    /*font: 14px "Koverwatch", Helvetica, Arial, sans-serif;*/
    font-family: Koverwatch;
    font-size: 24px;
    background: #15a181;
    color: #ffffff;
}

img {
    margin: 10px;
}

.board th,
.board td {
    text-align: center;
}

#startModal,
#fullModal {
    display: none;
    background: #15a181;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#startModal {
    font-size: 60px;
}

#startModal>.startModalContainer,
#fullModal>.fullModalContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#fullModal>.fullModalContainer>.title {
    font-size: 50px;
}

#fullModal>.fullModalContainer>.content {
    margin: 30px 0 60px 0;
}

.clock-bg {
    background: url(http://flipclockjs.com/_themes/flipclockjs/img/binding_dark.png) repeat;
}

.clock-bg>.content {
    text-align: center;
}

.clock {
    margin: 50px auto;
    width: 300px;
}

.flip-clock-label {
    display: none;
}

.movie {
    margin: 40px;
}